main.message {
  /* background-image: url(../image/bananaBg.jpg); */
  background-color: #f3f7e1;
  min-height: 100vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.message-body {
  padding: 0;
}

.kakao-chat > .chat__write-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #4b4848;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.kakao-chat__write {
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 16px;
  width: 100%;
  height: 65px;
  transition: all 0.5s ease-in;
  margin: 0 auto;
}

.kakao-chat__write:focus {
  outline: none;
  width: 80%;
  border-radius: 40px;
  transform: translateY(-100px);
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
  animation: float 3s linear infinite forwards;
}

.kakao-chat__icon {
  font-size: 22px;
  transition: opacity 0.5s ease-in-out;
}

.kakao-chat__write:focus ~ .kakao-chat__icon {
  opacity: 0;
}

.kakao-chat__icon-left {
  position: absolute;
  left: 18px;
}

.kakao-chat__icon-right {
  position: absolute;
  right: 18px;
}

.kakao-chat__icon-right i.fa-microphone {
  margin-left: 12px;
}

.chat__write {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 30px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #4b4848;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write:hover {
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 90%;
}

.chat__writeInputAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 10px 5px 5px;
  margin: 0px 5px;
  border: 1px solid whitesmoke;
  border-radius: 20px;
}

.chat__write-column input {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  border: none;
  font-size: 16px;
}

.chat__write-column input:focus {
  outline: none;
}

.message__timestamp {
  background-color: #9db8cf;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
}

.message__avatar.micro-avatar {
  border-radius: 40%;
  border: 1px solid whitesmoke;
  margin-right: 6px;
}

ul.message__messages {
  width: 100%;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes outgoingAnim {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

li.incoming-message {
  align-self: flex-start;
  display: flex;
  animation: incomingAnim 1s ease-out forwards;
}

li.outgoing-message {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  animation: outgoingAnim 1s ease-out forwards;
}

.incoming-message__box {
  display: flex;
  flex-direction: column;
}

.incoming-message__author {
  color: grey;
  font-size: 10px;
  margin-bottom: 6px;
  font-weight: 600;
}

.incoming-message__content {
  display: flex;
  align-items: flex-end;
}

.kakao-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
  background-color: #ffffff;
  padding: 14px;
  font-size: 15px;
  color: #4b4848;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
  margin-right: 10px;
}

.kakao-message .kakao-message__title {
  font-size: 16px;
}

.kakao-message .kakao-message__contents {
  color: #979797;
  padding: 14px 0px;
}

.kakao-message .kakao-message__button {
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-message__button_content {
  font-weight: 600;
  font-size: 12px;
}

.incoming-message__bubble {
  background-image: linear-gradient(to right, #edde5d, #ebbd7d, #dbd4b4);
  padding: 10px 15px;
  font-size: 14px;
  color: #4b4848;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
  margin-right: 10px;
}

.outgoing-message__bubble {
  background-image: linear-gradient(to right, #cbfdda, #b5ac49);
  padding: 10px 15px;
  font-size: 14px;
  color: #4b4848;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 24px;
  margin-left: 10px;
}

.kakao-message__timestamp,
.incoming-message__timestamp {
  color: grey;
  font-size: 6px;
  padding-bottom: 28px;
}

.outgoing-message__timestamp {
  color: grey;
  font-size: 6px;
  padding-bottom: 8px;
}
