.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 12px 12px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 16px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  margin-right: 16px;
  font-size: 18px;
}

.setting .setting__badge {
  background-color: tomato;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -5px;
  top: 0;
}

.setting {
  position: relative;
}
