.more__btn-list {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.more__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i.fa-envelope-open-text,
.more__btn-icon i {
  font-size: 24px;
}

.more__btn-list,
.suggestions-list {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.more__btn-list .more__btn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.suggestion-list__btn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.suggestion-list__btn .more__btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3db31;
  border-radius: 15%;
  width: 40px;
  height: 40px;
}

.more__btn-icon i.fa-quote-right {
  color: whitesmoke;
}

.more__btn-icon i.fa-glass-cheers {
  color: #2f080c;
}

.more__btn .more__btn-title {
  padding: 12px 0px;
  font-size: 14px;
  text-align: center;
}

.more__suggestions {
  margin-top: 12px;
  padding: 16px 0px;
  border-top: 1px solid whitesmoke;
}

.more__title {
  font-size: 14px;
  color: #626462;
  margin-bottom: 12px;
}
